@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100%;
    background: #c8b7a6;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #c29591;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

}

nav.logo{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.logo .menu-icon{
    color: black;
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.logo .logo-name{
    color: black;
    font-size: 20px;
    font-weight: 300;
}